
section {
	margin-top: 150px;
    margin-bottom: 375px;
}

#login--link{
    font-weight: 600;
}

#login--section h2{
    margin-bottom: 40px;
}

#login--section, #login--form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login--form label{
    margin-right: auto;
    margin-bottom: 10px;
    text-align: left;
}

.login--input {
    border: none;
    width: 379px;
	height: 50px;
    margin-bottom: 30px;
	font-size: 1.2em;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#error-message{
    margin-bottom: 10px;
}

.login--btn {
    font-family: "Syne";
    font-weight: 700;
    color: white;
    background-color: #1d6154;
    width: 179px;
    height: 36px;
    text-align: center;
    border: none;
    border-radius: 60px;
  }



